<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sharing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-button expand="full" (click)="shareCats()"
          >Share Important Cat Information</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button expand="full" (click)="shareDogs()"
          >Share Dog Data</ion-button
        >
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
