<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>App</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
              The App API handles high level App state and events. For example, this API emits 
              events when the app enters and leaves the foreground, handles deeplinks, 
              opens other apps, and manages persisted plugin state.
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-button href="https://capacitor.ionicframework.com/docs/apis/app">
            <ion-icon slot="start" name="document"></ion-icon>
            API Details
          </ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    
    <ion-item-divider></ion-item-divider>

    Implementation pending.
  </ion-content>