<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-button expand="full" (click)="showToast()">Show Toast</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button expand="full" (click)="showToast('short')">Show Short Toast</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button expand="full" (click)="showToast('long')">Show Long Toast</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
