<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Push Notifications</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
              The Push Notifications API provides methods for registering 
              a device to receive notifications from a server, along with 
              processing received notifications and responding to them. 
              In contrast, the Local Notifications API provides means 
              for offline, local notification scheduling and processing.
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-button href="https://capacitor.ionicframework.com/docs/apis/push-notifications">
            <ion-icon slot="start" name="document"></ion-icon>
            API Details
          </ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    
    <ion-item-divider></ion-item-divider>

    Implementation pending.
  </ion-content>