<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Filesystem</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
              The Filesystem API provides a NodeJS-like API for working 
              with files on the device.
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-button href="https://capacitor.ionicframework.com/docs/apis/filesystem">
            <ion-icon slot="start" name="document"></ion-icon>
            API Details
          </ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    
    <ion-item-divider></ion-item-divider>

    Implementation pending.
  </ion-content>